.error_content{ margin: 10% auto; width: 1000px; height: 200px;}
.error_left{ margin: 120px 0 0 50px; width: 330px ; height: 345px; background: url(./../../images/timg.png) no-repeat;     background-size: 100%;float: left;}
.error_right{ width: 450px; height: 190px;  float: left; }
.error_detail { margin: 180px 0 0 120px;     width: 430px; height: auto; }
.error_detail .error_p_title{ font-size: 28px; color: #eb8531;}
.error_detail .error_p_con{ font-size:14px; margin-top: 10px; line-height: 20px;}
.sp_con{ margin-left: 128px; color:#1A4EC0;margin-top: 39px;position: absolute;font-size: 18px; }
.btn_error { margin: 80px 0 0 160px;}
.btn_error a{  padding: 20px;}
.btn_back1{background: #f45531; color: #ffffff;}
.btn_back2{ margin-left:25px;background: #DDDDDD;color: #CCCCCC;}
.btn {
    width: 40px;
    height: 38px;
    cursor: pointer;
    color: #FF813B;
    float: right;
    margin-top: 1px;
    border-left: solid 1px #FF813B;
    font-size: 20px;
    background: no-repeat;
}
.contribution{
	font-size: 20px;
	color: #f45531;
}